# Copia questo file in API_KEYS.env e compila i valori reali.

KRAKEN_API_KEY=
KRAKEN_API_SECRET=

COINMARKETCAP_API_KEY=
INFURA_PROJECT_ID=
MORALIS_API_KEY=

ETH_LEDGER_ADDRESS=
SOL_LEDGER_ADDRESS=
SOL_PHANTOM_ADDRESS=
